@import 'variables';
@import 'mixins';

.footer {
    text-align: center;
    background-color: $c-third-l;
    &-wave {
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    &-content {
        &-socials {
            padding: 20px;
            color: $c-text-v-l;
            font-size: 40px;
            display: flex;
            justify-content: center;
            a {
                color: $c-text-v-l;
            }
            &-icon {
                margin: 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $c-background-v-l;
                height: 60px;
                width: 60px;
                border-radius: 50%;
            }
        }
        &-contact {
            h3 {
                color: $c-text-v-l;
                font-size: 30px;
                font-weight: 500;
                font-style: italic;
            }
            &-types {
                a {
                    color: $c-text-v-l;
                    font-weight: 700;
                    font-size: 18px;
                    font-style: italic;
                    text-decoration: none;
                }
                span {
                    margin: auto 0;
                    &:before {
                        content: '';
                        border-bottom: 3px solid $c-primary-l;
                        border-radius: 25px;
                        display: block;
                        width: 30px;
                    }
                }
                display: flex;
                justify-content: center;
                gap: 50px;
            }
        }
        &-plugs {
            padding: 50px 0;
            color: $c-text-v-l;

            h3 {
                padding: 10px 0;
                margin: 0;
                font-weight: 300;
                font-style: italic;
            }
        }
    }
}
