.home {
    .background-img img {
        object-fit: cover;
        object-position: top;
        width: 100vw;
        height: 100vh;
    }
}

.projects {
    &-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        img {
            width: 30vw;
        }
    }
}
