.navigation {
    position: fixed;
    z-index: 1;
    width: 100vw;
    &-content {
        display: flex;
        justify-content: space-between;
        &-items {
            display: flex;
            align-items: center;
            li{
                list-style: none;
            }
        }
    }
}
