@import 'variables';
@import 'mixins';

.topButton {
    background-color: $c-primary-l;
    border: none;
    cursor: pointer;

    position: fixed;
    bottom: 50px;
    right: 50px;
    opacity: 0;
    transition: all 0.2s ease;

    z-index: 1;

    width: 60px;
    height: 60px;
    pointer-events: none;
    svg {
        height: 2em;
        width: 2em;
    }
}

.topButton:hover {
    background-color: $c-primary-v-l;
}

.active {
    opacity: 1;
    pointer-events: all;
}

.home {
    height: 100vh;
    width: 100%;
    &-background-img img {
        position: absolute;
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 100vh;
        z-index: -1;
        filter: blur(5px);
    }
    &-items {
        width: 100%;
        max-width: 70%;
        height: 100%;
        display: grid;
        margin: 0 auto;
        &-button {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 50px;
            button {
                @include reset-button;
                font-weight: 700;
                font-style: italic;
                font-size: 24px;
                color: $c-text-v-l;
                svg {
                    color: $c-primary-l;
                    font-size: 3em;
                }
            }
        }
    }
}

.about {
    height: 80vh;
    @include xl {
        height: auto;
    }
    &-grid {
        display: grid;
        margin: 50px 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        height: 100%;
        &-text {
            @include xl {
                padding-left: 50px;
            }
            padding-left: 150px;
            h2 {
                color: $c-primary-l;
            }
        }
        &-img {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                object-fit: cover;
                width: 50%;
                height: 75%;
                border-radius: 7%;
            }
        }
    }
}
.projects {
    position: relative;
    padding: 0 0 50px 0;
    &-text {
        h2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $c-primary-l;
        }
        h2::after {
            content: '';
            display: block;
            width: 130px;
            padding-top: 3px;
            border-bottom: 2px solid $c-secondary-l;
        }
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(3, min-content);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        grid-gap: 100px;
        @include xl {
            grid-gap: 50px;
        }
        &-item {
            position: relative;
            cursor: pointer;
            &-img {
                height: 35vh;
                width: 45vh;
                img {
                    object-position: top;
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: 15px;
                }
            }
            &-text {
                display: block;
                position: absolute;
                top: 0;
                height: 100%;
                width: 80%;
                margin-left: 10%;
                color: $c-text-v-l;
                opacity: 0;
                transition: opacity 0.2s ease;
                h3 {
                    font-size: 25px;
                    font-style: italic;
                }
                p {
                    font-size: 20px;
                    margin: 5px;
                }
                &-bottom {
                    position: absolute;
                    font-weight: 700;
                    font-size: 20px;
                    bottom: 0;
                    right: 0;
                }
            }

            &:hover {
                .projects-grid-item-text,
                .overlay {
                    opacity: 1;
                }
            }

            .overlay {
                height: 100%;
                width: 100%;
                transition: opacity 0.2s ease;
                position: absolute;
                display: block;
                opacity: 0;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                border-radius: 15px;
                background-color: rgba(39, 39, 39, 0.9);
            }
        }
    }
}

.contact {
    &-wave {
        height: 90px;
        width: 100%;
        transform: translateY(10px);
    }
    &-content {
        background-color: $c-primary-l;
        display: flex;
        justify-content: center;
        &-form {
            width: 70%;
            h2 {
                color: $c-text-v-l;
                text-align: center;
                padding: 40px;
                margin-bottom: 0;
            }
            &-inputs {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, auto);
                gap: 20px;
                &-topic {
                    grid-area: 2 / 1 / 3 / 3;
                }
                &-content {
                    grid-area: 3 / 1 / 4 / 3;
                    resize: none;
                }
                input,
                textarea {
                    border: none;
                    outline: none;
                    font-size: 30px;
                    font-weight: 600;
                    &:focus {
                        background-color: #e9e9e9;
                    }
                    &:required {
                        &::after {
                            content: '*';
                            display: block;
                            width: 15px;
                            color: red;
                        }
                    }
                }
                input {
                    padding: 10px 35px;
                    height: 50px;
                    border-radius: 50px;
                }
                textarea {
                    padding: 25px 35px;
                    border-radius: 35px;
                    height: 350px;
                }
                button {
                    grid-area: 4 / 1 / 5 / 3;
                    width: 300px;
                    height: 60px;
                    justify-self: center;
                    border-radius: 50px;
                    border: 5px solid $c-text-v-l;
                    color: $c-text-v-l;
                    font-size: 30px;
                    font-weight: 600;
                    background-color: transparent;
                    cursor: pointer;
                }
            }
        }
    }
}
